/*@keyframes body_anim {*/
/*    from {*/
/*        transform: translateY(-120%);*/
/*    }*/

/*    to {*/
/*        transform: translateY(0);*/
/*    }*/
/*}*/

body {
    width: 70%;
    margin: auto;
    background: #f2efe1;
    font-family: sans-serif;

    /*animation-name: body_anim;*/
    /*animation-duration: 1s;*/
    /*animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
}

div {
    text-align: center;
    border: 2px solid black;
    margin: 15px 15px;
}

h1 {
    font-size: 20px;
}

table,
th,
td {
    font-size: 15px;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 70%;
}

th {
    /*background-color: #3399ff;*/
    background-color: #23b8fd;
    height: 30px;
}

/* псевдокласс */
tr:hover {
    /*background-color: #3399ff;*/
    background-color: #23b8fd;
}

.error {
    color: red;
    font-size: 15px;
    font-weight: 600;
    margin: 5px 0;
    border: none;
}

.value_label {
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}

#x_value,
#r_value,
.custom_button {
    cursor: pointer;
}

#y_value {
    text-align: center;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 300px;
}

#y_value:focus {
    border: 1px solid #3385ff;
    transform: scale(1.02, 1.02);
}

/* псевдоэлемент */
::placeholder {
    text-align: center;
}

.custom_button {
    padding: 10px 25px;
    /*width: 20%;*/
    /*background-color: #3399ff;*/
    background-color: #23b8fd;
    border-radius: 30px;
    border: none;
    color: black;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
}

/* псевдокласс */
.custom_button:hover {
    /*background-color: #3385ff;*/
    background-color: #3399ff;
}

/* псевдокласс */
.custom_button:active {
    /*background-color: #3385ff;*/
    background-color: #3399ff;
    transform: translateY(4px);
}

/* идентификатор */
#title {
    color: black;
    font-size: 20px;
    font-family: serif;
    line-height: 28px;
}

/* идентификатор */
#graph {
    /*border: 2px solid black;*/
    margin: 10px;
}

/* идентификатор */
#logo {
    border: none;
}

/* дочерний элемент */
#logo>img {
    width: 25%;
}
